
/***********************************************************/
/************************ Cards *************************/
/***********************************************************/

.tarjetas {
    padding: 4rem;
    display: flex;
}

.tarjeta {
    flex: 1;
    background-color: sienna;
    padding: 1rem;
    border-radius: .5rem;

}


.tarjeta-img {
    width: 20rem;
}

.tarjeta-info {
    padding: 2rem;
}
  
